
      .clickable {
        cursor: pointer;
        color: #0088cc;
      }

      .clickable:hover {
        text-decoration: underline;
      } 
      
      #mouse{
      padding-top: 6%;
  }
 

.page-1{
    background-image: url("img/background1.jpg.jpg");
    width: 100%;
    height: 630px;
  background-size: cover; 
   text-align: center;
   padding-top:17%; 
}

.page-1 h1 {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 2px;
  margin: 5px;
}
.page-1 h3{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    color:white
}

.about-us h1 {
    text-align: center;
}

.about-us p{
    text-align: center;

}



.services{
    background-image: url("img/background2.jpg");
    width: 100%;
    height: 360px;
    background-size: cover;
    text-align: center;
    padding-top:13%; 


}
#arrange {
    display: flex;
}

html {
    scroll-behavior: smooth;
   }
   a {
    text-decoration: none;
    color: black;
   } 
   
   #down {
    margin-top: 100%;
    padding-bottom: 25%;
   } 
  
  
  .column {
    align-self: center;   
    flex: 30.33%;
    padding: 5px;
    padding-left: 100px;
    
  }
  
  .column2 {
   
 align-self: center;   
 flex: 30.33%;
 padding: 5px;
 padding-left: 100px;
 
}
.column3 {
 align-self: center;   
 flex: 30.33%;
 padding: 5px;
 padding-left: 100px;
 
}
.img1{
 display: none;
}

.img2{
    display: none;
   }

.img3{
    display: none;
   }
 
  h1{
      text-align: center;
  }
  .pic-arrangment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: left 5px;
    margin-right: 5px;
  }
  .row img{

      height: 250px;
      width: 300px;
      padding: 20px;
  }
  .text {
   
    position: absolute;
    top: 100px;
    left: 100px;
}
#appear{
    display: none;
    color: rgb(201, 37, 37);
    width: 100%;
    height: 100%;
    background-color: rgba(216, 47, 231, 0.5);
    position:absolute;
    top: 20px;
    left: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 50%;
  }
  #appear{
    width: 100%;
    height: 100%;
    top: 20px;
    left: 16px;
    padding-top: 20%;
  }
  #form{
      align-items: center;
      box-sizing: border-box;
  }
  .form1
  {
   padding-top: 10%;
   padding-bottom: 10%;
   padding-inline-start: 10%;
   
  }
  .form2{
      padding-top: 2%;
  }
  #message{
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .background
  {
      background-image: url("img/background.jpg");  
      background-size: cover;
      

  }
  form
  {
      padding: 50px;
      padding-top: 50px;
  }




  footer 
  {
    align-items: center;
      text-align: center;
  }
